# Your Google Cloud Project ID
PROJECT_ID="your-gcp-project-id"

# The region where your Workstation cluster is located
REGION="us-central1"

# The name of your Workstation Cluster
CLUSTER="my-cluster"

# The name of your Workstation Configuration
CONFIG="my-config"
